<div class="container">
  <h2>Patients</h2>
  <table class="table table-bordered">
    <thead>
    <tr>
      <th>Patient Id</th>
      <th>Name</th>
      <th>Email</th>
      <th>Message</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let patient of patients; let i = index">
      <td>{{i + 1}}</td>
      <td>{{patient.name}}</td>
      <td>{{patient.email}}</td>
      <td>{{patient.message}}</td>
      <td>
        <span class="delete" (click)="deletePatientN(patient.email)">Delete</span>
      </td>

    </tr>
    </tbody>
  </table>
</div>
